* {
    box-sizing: border-box; /* Поможет правильно считать высоту и ширину объектов */
}
body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.header {
    display: flex; /* Выравнивает */
    align-items: center; /* Выравнивает по центру */
    padding-top: 20px; /* Делает отступ от верха */
    padding-bottom: 20px; /* Делает отступ от низа */
    padding-left: 32px; /* Отступ слева */
    padding-right: 70px; /* Отступ справа */
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
}
.menu-button { /* Кнопка в левом верхнем углу */
    padding: 0;
    display: flex; /* Нужно для того чтобы элементы выстраивались по другому */
    flex-direction: column; /* Выстраивает элементы в линию */
    justify-content: space-between;
    background-color: #fff;
    width: 20px; /* ширина */
    height: 17px; /* высота */
    border: none; /* убирает бордер */
    margin-right: 28px;
    cursor: pointer;
}
.menu-line { /* линии кнопок в левом верхнем углу */
    display: block; /* Поможет браузеру воспринимать как линия */
    background: #1F2022;
    width: 20px; /* ширина */
    height: 3px; /* высота */
    border-radius: 20px; /* Скругляет линии */
}
.logo {
    margin-right: 59px;
}
.input-group {
    background: #EBEBEB;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
}
.input-search {
    background-color: transparent; /* Делает фон прозрачным */
    width: 100%; /* делает ширину поиска 100 процентов */
    border: none;
    padding: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
}
.button-search {
    padding: 0;
    width: 19px;
    height: 19px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.icon-search {
    fill: black;
}
.icon-video {
    opacity: 0.24; /* Задает прозрачность */
}
.icon-video:hover {
    opacity: 0.8;
}
.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icons-link {
    text-decoration: none; /* убирает подчеркивание */
    opacity: 0.24;
}
.icons-link:hover{
    opacity: 0.7;
}
.icons-link:not(:last-child) { /* Выбираем все иконки кроме последней */
    margin-right: 50px;
}
.user {
    margin-left: 45px;
}
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.sidebar {
    position: fixed;
    width: 12%;
    left: 0;
    top: 114px;
    height: calc(100% - 114px);
    overflow-y: auto;
    padding-left: 32px;
    background-color: #fff;
}
.content {
    width: 100%;
    height: 400px;
    margin-top: 85px;
    padding-left: 13%;
    padding-top: 30px;
}
.nav-menu {
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    list-style: none; /* Убирает точки  */
}
.nav-item {
    margin-bottom: 28px;
}
.nav-link {
    display: flex;
    align-items: center;
    color: #898989;
    text-decoration: none;
}
.nav-link:hover {
    color: #FF0000;
}
.nav-link:hover .icon {
    fill: #FF0000;
}
.nav-item .icon {
    fill: #898989;
}
.nav-text {
    margin-left: 13px;
}
.nav-image {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.nav-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}
.channel {
    position: relative;
}
.channel-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #19202C;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 30px;
}
.channel-avatar {
    width: 50px;
    height: 50px;
    background-color: 50%;
    border-radius: 50%;
}
.channel-text {
    margin-left: 20px;
}
.video-card {
    width: 250px;
}
.video-thumb {
    width: 250px;
    height: 150px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}
.thumbnail {
    width: 250px;
    height: 150px;
    object-fit: cover; /* чтобы не сплющивалось */
}
.video-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.3);
    mix-blend-mode: normal;
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 3px 9px;
}
.video-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
    margin-top: 10px;
    margin-bottom: 4px;
}
.video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}
.video-counter {
    display: flex;
}
.video-views {
    margin-right: 5px;
}
.video-views::after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #C2C2C2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.channel-button {
    cursor: pointer;
    margin-bottom: 40px;
}
.slider-buttons {
    position: absolute;
    right: 8%;
    top: 138px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
}
.recommended-text {
    position: absolute;
    height: 33px;
    left: 13.28%;
    right: 77.08%;
    top: calc(50% - 33px/2 - 140.5px);
}